*{
    box-sizing:border-box;
}
.top1-header{
    margin-top: 20px;
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 10px;
    background-color: bisque;
}
.top-header{
    margin-top: 30px;
    background-color: bisque;
    text-align: center;
    padding: 50px;
    width: 100%;
    height:200px;
}
.nav-bar{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
    margin-top: 30px;

}
.item{
    background-color: bisque;
        padding: 25px;
}
/* main section  */
.container{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin-top: 30px;
    gap:50px;

}
.category{
    background-color: bisque;
    padding:20px;
    border: 1px solid;
    text-align: center;
}
.cat1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 50px;
}
.cat2{   
    width: 100%;
    height: 
}
/* footer */
.footer{
    width: 100%;
    height: 150px;
    background-color: bisque;
    margin-top: 30px;
    text-align: center;
    padding: 40px;
}